html {	
	background-image: url(http://images.clipartpanda.com/ghost-clipart-black-and-white-white-ghost-hi.png);
	font-family: arial;
	text-align: center;
	background-position: center;
	background-size: 1200px;
}

h1 {
	background-color: blue;
	font-weight: lighter;
	text-decoration: underline;
}


ol {
	color: red;
	font-weight: bold;

}

form {
	color: blue;
}

