a {color: blue;
	text-size: 20px;

}

#rd {
	border-style: solid;
	background-color: red;
	border-width: 1px;
	width: 172px;
	height: 72px;
	font-weight: bold;
}

#rng {
	border-style: solid;
	background-color: orange;
	border-width: 1px;
	width: 172px;
	height: 72px;
	margin-top: 10px;
	margin-left: 30px;
	font-weight: bold;
}

#yllw {
	border-style: solid;
	background-color: yellow;
	border-width: 1px;
	width: 172px;
	height: 72px;
	margin-top: 10px;
	margin-left: 60px;
	font-weight: bold;
}

#grn {
	border-style: solid;
	background-color: green;
	border-width: 1px;
	width: 172px;
	height: 72px;
	margin-top: 10px;
	margin-left: 90px;
	font-weight: bold;
}

#blu {
	border-style: solid;
	background-color: blue;
	border-width: 1px;
	width: 172px;
	height: 72px;
	margin-top: 10px;
	margin-left: 120px;
	font-weight: bold;
}

#prp {
	border-style: solid;
	background-color: purple;
	border-width: 1px;
	width: 172px;
	height: 72px;
	margin-top: 10px;
	margin-left: 150px;
	font-weight: bold;
}



